[submodule "piton/design/chip/tile/ariane"]
	path = piton/design/chip/tile/ariane
    url = https://github.com/Jbalkind/ariane.git
    branch = dicho_repro
[submodule "aws"]
	path = piton/design/aws
	url = https://github.com/PrincetonUniversity/openpiton-aws.git
